<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>home page</title>
</head>
<body>

<h1 class="logo"><a href="{% url 'index' %}">home page</a></h1>
{% if user.is_authenticated %}
    <p>welcome<a href="#">{{ user.username }}</a></p>
    <button class="btn btn-default"><a href="{% url 'logout' %}?next={{ request.path }}">logout</a>
    </button>
    {# uploading pics #}
    <form enctype="multipart/form-data" action="{% url "save_pic" %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}
        {{ field }}
    {% endfor %}
    <br><br>
    <button type="submit">upload</button>
    </form>

{% else %}
    <p>you haven't logged in
        <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">login</a>
        </button>
        <button class="btn btn-default"><a href="{% url 'users:register' %}?next={{ request.path }}">register</a>
        </button>
    </p>
{% endif %}

<!-- 如下一行代码用于测试从服务器动态返回图片数据 -->
<img src="{% url 'image' 1 %}" alt="test image" id="test_pic_id">

<!-- todo: 使用AJAX？
<script>
    let xmlHttp = new XMLHttpRequest();
    xmlHttp.open('GET', 'show_pic/1', false);
    xmlHttp.send();

    document.getElementById('test_pic_id').src = xmlHttp.responseText
</script>
-->

</body>
</html>
